<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property scope="context" name="log.fileExtension" value="log"></property>
	<property scope="context" name="log.directory" value="E:/logs"></property>
	<property scope="context" name="log.fileName" value="testing-elk"></property>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [${HOSTNAME}] [%thread] %level%logger{36}@%method:%line - %msg%n</pattern>
		</layout>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy	class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.directory}/${log.fileName}.%d{yyyy-MM-dd}.%i.${log.fileExtension}</fileNamePattern>
			  <maxHistory>5</maxHistory>
			 <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>3KB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            
		</rollingPolicy>
	
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [${HOSTNAME}] [%thread] %level%logger{36}@%method:%line - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT"></appender-ref>
		<appender-ref ref="FILE"></appender-ref>
	</root>
</configuration>